{% load static %}
<nav class="fixed-top custom-header-navbar navbar navbar-expand-lg navbar-light bg-light ">
  <a class="navbar-brand" href="{% url 'home'%}">
    <img class='header-logo' src="{% static 'image/logo/logo.png' %}">
  </a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <form class="search-bar form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'list_courses' %}">Khóa học<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Về chúng tôi</a>
      </li>
      {% if request.user.is_authenticated %}
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{ request.user}}
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'profile' username=request.user.username %}">Hồ sơ của bạn</a>
          <a class="dropdown-item" href="#">ebook</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{% url 'logout' %}">Đăng xuất</a>
        </div>
      </li>
      
      
    </ul>
    {% else %}
    </ul>
        <a href="{% url 'login' %}" class="btn btn-primary">Đăng nhập</a>
        <a href={% url 'signup' %} style='margin: 5px' class="btn btn-outline-primary">Đăng kí</a>
    {% endif %}
  </div>
</nav>